#foo {background-image: url('my.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}
.baz {
    color: white;
    padding: 10px;
    text-align: center;
}
header>content{
    background-color: crimson;
}
.container {
    background-repeat: no-repeat;
    background-image: url('code.jpg');
    background-size: 100% 100%;
}
h5 {
    color:white;
}