div{
    background-image: url("my.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div>h1{
    color: red;
    text-align: center;
}

.font-weight-bold{
    color: white;
    padding: 20px;
}
div>h3 {
    color: white;
    text-align: center;
}
.alert{
    background-image: none;
}
.d-flex {
    background-image: none;
    display: flex;
    background-color: dodgerblue;
}
.d-flex > div {
    background-image: none;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
}
form>div{
    background-image: none;
}
.baz {
    background-image: none;
}
footer{
    background-image: none;
}
